@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

@layer base {
  * {
    @apply border-slate-200;
  }

  body {
    @apply m-0 font-poppins antialiased;
  }

  #root {
    @apply min-h-screen;
  }
}
